@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

.hidden{
    display: none;
}

.black{
    color: #000 !important;
}

.dark-mode {
  .switch::before {
    left: 20px !important;
  }

  .nav-links {
    li {
      a:hover {
        .link-name {
          color: var(--text-color) !important;
        }
        i {
          color: var(--text-color) !important;
        }
      }
    }
  }

  li {
    a:hover:before {
      background-color: var(--text-color);
    }
  }
}

.dark-mode {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}

.btn-primary{
  background-color: var(--primary-color);
  border: var(--primary-color);
}

.btn-primary:hover{
  background-color: none;
}

.lecture-attendance-container {
  min-height: 100vh;
  background-color: var(--primary-color);

  select{
      max-width: 100%;
  }

  .btn-primary{
    background-color: var(--primary-color);
    border: var(--primary-color);
  }

  .btn-primary:hover{
    background-color: none;
  }

  .nav-closed {
    width: 73px !important;
    transition: var(--tran-05) !important;

    .logo_name {
      opacity: 0;
      pointer-events: none;
      transition: var(--tran-05);
    }

    li {
      a {
        .link-name {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  .nav-closed ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  .nav-closed ~ .dashboard {
    .top {
      left: 73px;
      width: calc(100% - 73px);
    }
  }

  #lectureNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--panel-color);
    z-index: 2;
    padding: 10px 14px;
    border-right: 1px solid var(--border-color);

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    .logo-name {
      display: flex;
      align-items: center;

      .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;

        img {
          width: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .logo_name {
        margin-left: 14px;
        font-size: 22px;
        font-weight: 600;
        color: var(--text-color);
      }
    }

    .menu-items {
      margin-top: 40px;
      height: calc(100% - 90px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mode {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      .logout-mod {
        padding-top: 10px;
        border-top: 1px solid var(--border-color);
      }

      li {
        list-style: none;

        a {
          display: flex;
          align-items: center;
          height: 60px;
          text-decoration: none;
          position: relative;

          .link-name {
            color: var(--text-color);
            font-size: 18px;
            font-weight: 400;
            transition: var(--tran-05);
          }

          i {
            min-width: 45px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: var(--black-light-color);
          }
        }
      }

      .nav-links {
        li {
          a:hover {
            .link-name {
              color: var(--primary-color);
            }
            i {
              color: var(--primary-color);
            }
          }
        }
      }

      body.dark {
        .nav-links {
          li {
            a:hover {
              .link-name {
                color: var(--primary-color);
              }
              i {
                color: var(--text-color);
              }
            }
          }
        }
      }

      .mode-toggle {
        height: 50px;
        min-width: 45px;
        position: absolute;
        right: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .switch {
          position: relative;
          height: 22px;
          width: 40px;
          background-color: var(--toggle-color);
          display: inline-block;
          border-radius: 25px;
        }

        .switch::before {
          content: "";
          position: absolute;
          height: 15px;
          width: 15px;
          background-color: var(--panel-color);
          border-radius: 50%;
          left: 5px;
          top: 50%;
          transform: translateY(-50%);
          transition: var(--tran-03);
        }
      }

      .mode {
        display: flex;
        align-items: center;
      }
    }

    .nav-links {
      li {
        a:hover:before {
          content: "";
          position: absolute;
          left: -7px;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: var(--primary-color);
        }
      }
    }
  }

  .dashboard {
    position: relative;
    background-color: var(--panel-color);
    left: 250px;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);

    .dash-content-reporting {
      padding-top: 50px;
      display: block;
      width: 100%;

      label{
          color: var(--text-color);
      }

      .title {
        display: flex;
        align-items: center;
        margin: 20px 0 30px 0;
        width: 100%;
        i {
          position: relative;
          height: 35px;
          width: 35px;
          background-color: var(--primary-color);
          border-radius: 6px;
          color: var(--title-icon-color);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
        }

        .text {
          font-size: 24px;
          font-weight: 500;
          color: var(--text-color);
          margin-left: 10px;
        }
      }

      .boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 12px;
          width: calc(100% / 3 - 15px);
          padding: 15px 20px;
          background-color: var(--box1-color);
          position: relative;
          

          
          

          i{
            font-size: 35px;
            color: var(--text-color);
          }

          .text{
            white-space: nowrap;
            font-size: 18px;
            font-weight: 500;
            color: var(--text-color);
          }
          .number{
            white-space: nowrap;
            font-size: 40px;
            font-weight: 500;
            color: var(--text-color);
          }
        }

        .box:hover{
          top: -20px;
        }

        .box2{
            background-color: var(--box2-color);
        }

        .box3{
          background-color: var(--box3-color);
      }
      }

      .course-info{
          min-height: 10vh;
          background-color: #0e4bf1;
          width: 45%;
          float: left;
      }

      .left{
        width: 50%;
        float: left;
        .echarts-for-react{
          min-height: 100%;
        }
      }

      .right{
        width: 50%;
        float: right;
      }
    }

    .top {
      padding: 10px 14px;
      top: 0;
      position: fixed;
      left: 250px;
      display: flex;
      width: calc(100% - 250px);
      justify-content: space-between;
      align-items: center;
      background-color: var(--panel-color);
      transition: var(--tran-05);

      img {
        width: 40px;
        border-radius: 50%;
      }

      .search-box {
        position: relative;
        height: 45px;
        max-width: 600px;
        width: 100%;
        margin: 0 30px;

        input {
          position: absolute;
          border: 1px solid var(--border-color);
          background-color: var(--panel-color);
          padding: 0 25px 0 50px;
          height: 100%;
          width: 100%;
          border-radius: 5px;
          color: var(--text-color);
          font-size: 15px;
          font-weight: 400;
          outline: none;
        }

        i {
          position: absolute;
          left: 15px;
          font-size: 22px;
          z-index: 10;
          top: 50%;
          transform: translateY(-50%);
          color: var(--black-light-color);
        }
      }

      .sidebar-toggle {
        font-size: 26px;
        color: var(--text-color) !important;
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 1000px) {
  nav {
    width: 73px;

    .logo_name {
      opacity: 0;
      pointer-events: none;
    }

    li{
      a{
        .link-name{
            opacity: 1;
            pointer-events: none;
        }
      }
    }
  }

  nav.close {
    width: 250px;
    .logo_name{
      opacity: 1;
      pointer-events: none;
    }
    li {
      a {
        .link-name {
          opacity: 1;
      pointer-events: auto;
        }
      }
    }
  }

  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
    .top{
      left: 73px;
      width: calc(100% - 73px);
    }
  }

  nav.close ~ .dashboard {
    left: 250px;
     width: calc(100% - 250px);
    .top {
      left: 250px;
     width: calc(100% - 250px);
    }
  }

  .activity{
    .activity-data{
      overflow-y: scroll;
    }
  }
}

@media (max-width: 780px) {
  .dash-content{
    .boxes{
      .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 560px) {
  .dash-content{
    .boxes{
      .box{
        width: 100%;
      }
    }
  }
}
